@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Guerrilla&display=swap');
*{
    margin : 0px;
    padding: 0px;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
  }
  
  nav a {
    margin-left: 10px; /* Add some space between links */
  }

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  --primary: #fff;
  --secondary: #179fd9;
  --green: white;
  --secondary-light: #179fd9;
  --secondary-light-2: lightblue;
  --white:#fff;
  --black: black;
  --shadow: 0px 2px 8px 0px var(--secondary-light);
}
body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  background-image:linear-gradient(to right,#179fd9,#044e6e);
  color: #fff;
  z-index: 10;
  width: 100%;
}

.nav-links a {
  color: #fff;
}


/* LOGO */
.logo {
  font-size: 35px;
  /* font-family:'Times New Roman', Times, serif; */
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #f7fae3;
  padding-left: 70px;
}



/* h1{ */
  /* color: rgb(232, 232, 115); */
  /* position: relative; */
  /* color:transparent; */
  /* background-image: radial-gradient(#553c9a, #ee4b2b); */
  /* color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size:2.50rem;
  font-weight:500; */
  /* text-shadow: 1px 1px 0px #000; */
  /* letter-spacing: 2px; */
  
/* } */
/* .logo { */
    /* background-image: linear-gradient(45deg, #f5b507, #dff803); */
/* } */
  


/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  /* background-image:linear-gradient(to right,#179fd9,#044e6e); */
  background-color: white;
  border-radius: 5px;
  transition: 0.3s ease;
  /* color:#179fd9; */
}
.menu li a:hover{
  color:#179fd9;
}
.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}

.dropdown {
  background-image:linear-gradient(to right,#179fd9,#044e6e);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #179fd9;
}

.services:hover .dropdown {
  display: block;
}
input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-image:linear-gradient(to right,#179fd9,#044e6e);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-image:linear-gradient(to right,#179fd9,#044e6e);
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
    /* color: yellow; */
  }
  .rem{
    color: black;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-image:linear-gradient(to right,#179fd9,#044e6e);;
  }
}
.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 50px;
  color: var(--black);
  /* background-color: white;
  box-shadow: var(--shadow); */

  cursor: pointer;
  border: 1px solid var(--secondary);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url("../profileimg.png");
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: var(--white);
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: max-height 0.5s;
}

.profile-dropdown-list hr {
  border: 0.5px solid var(--green);
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}
.landing{
    height:850px;
    width:100%;
    /* background-color:lightcoral; */
    background-image: url("./../L4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display:flex;
    margin-bottom: 40px;
}
.landing_text
{
    height: auto;
    width: 600px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 55%;
    margin-left: 35%;
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
}
.myschemes
{
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-areas:
    's1 s2'
    's3 s4';
    gap: 20px 30px;
    margin-top: 30px;
    margin: auto;
    margin-bottom: 30px;
}
.myschemes h1{
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.s1{grid-area: s1;}
.s2{grid-area: s2;}
.s3{grid-area: s3;}
.s4{grid-area: s4;}
.myschemes> div {
    /* background-color:floralwhite; */
    background: transparent;
    text-align:center;
    padding: 20px;
    font-size: 30px;
    margin:10px 0px 10px 0px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: width 0.8s, height 0.8s, transform 0.8s;
}
.myschemes> div:hover
{
    transform: scale(1.05);
}
.myschemes> div h1
{
    font-size: 35px;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.myschemes> div p
{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color:darkslategray;
    font-weight:700;
    padding: 20px;
    width: 75%;
    margin: auto;
}
.maps{
  width:100%;
  border: 2px solid black;
  border-radius: 40px;
  background-color: #47539273;
  margin-bottom: 30px;
}
input[type="submit"] {
background-color: #c8bf6d; /* Darker green color on hover */
color: white;
border-radius: 20px;
}
input[type="submit"]:hover {
background-color: #ead686; /* Darker green color on hover */
}
.chatInput{
text-align: center;
margin-top: 40px;
}
.chatInput input {
color: black;
font-size: 14px;
padding: 6px 10px;
text-align: center;
width: 70%;
border-radius: 20px;
}
form
.chatBox {
overflow-y: scroll;
max-height: 900px;
padding: 50px;
border-radius: 20px;
}
.chat{
color: black;
text-align: center;
font-size:2rem ;
margin-bottom: 20px;
}
.chatMsg {
text-align: right;
margin: 4px 10px;
padding: 8px 12px;
border-radius: 20px;
background-color: bisque;
color: black;
}
.about_us_box{
    height: 800px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.about_us
{
    height: 80%;
    width: 40%;
    background-color: transparent;
    margin: auto;
    transition: width 0.8s, height 0.8s, transform 0.8s;
    padding: 20px;
}
.about_us:hover
{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* transform: scale(1.05); */
}
.about_us h1
{
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2f4d5a;
    text-align: center;
    margin: 50px 0px 20px 0px;
}
.about_us p
{
    max-width: 75%;
    color: bisque;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 70px;
    color: rgb(50, 49, 49);
    margin-top: 40px;
}
.about_us_button
{
    height: 50px;
    width: 150px;
    background-color: #2f4d5a;
    border-radius: 25px;
    margin: 45px 0px 0px 40px;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.about_us_button a {
    text-decoration: none;
}
.about_us_features{
    height:90%;
    width:58%;
    background-color:transparent;
    margin: auto;
    display: grid;
    grid-template-areas:
    's1 s2'
    's3 s4';
    gap: 10px 10px;
    /* margin-top: 30px; */
    margin: auto;
}
.s1{grid-area: s1;}
.s2{grid-area: s2;}
.s3{grid-area: s3;}
.s4{grid-area: s4;}
.about_us_features> div{
    height: 250px;
    width: 85%;
    background-color: rgb(152, 152, 246);
    border-radius: 30px;
    margin: 20px 20px 20px 20px;
    padding:50px;
    transition: width 0.8s, height 0.8s, transform 0.8s;
}
.about_us_features> div h1
{
    font-size: 40px;
    color:white;
    font-family:'Courier New', Courier, monospace;
}
.about_us_features> div p
{
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #3E2723;
    font-weight:700;
}
.about_us_features> div:hover
{
    transform: scale(1.05);
}
footer{
    background: linear-gradient(to right, #0c041f,#044e6e);
    border-top-left-radius: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer *{
    color: white;
  }
  
  .container{
    display: flex;
    justify-content: space-between;
    padding: 25px 7%;
  }
  
  .footer-col{
    width: 25%;
  }
  
  .footer-col h2{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: #f7fae3;
    margin-bottom: 10px;
  }
  
  p.email{
    margin: 30px 0;
  }
  
  p.phone{
    font-size: 20px;
    font-weight: 400;
  }
  
  .footer-col .text-office{
    margin-bottom: 20px;
  }
  .underline{
    width: 70px;
    height: 3px;
    position: relative;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .underline span{
    width: 7px;
    height: 100%;
    position: absolute;
    left: 10px;
    background-color: rgb(63,63,63);
    border-radius: 3px;
    animation: moving 1.5s linear infinite;
  }
  
  @keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
  }
  footer{
    bottom: 0;
    margin-top: 50px;
    z-index: 20;
  }
  .footer-col ul{
    list-style-type: none;
    padding-top: 10px;
  }
  
  .footer-col ul li{
    margin: 10px;
    
  }
  .footer-col ul li a:hover{
    
      color: rgb(238, 238, 74);
    
  }
  
  .footer-col form{
    margin-top: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    display: flex;
  }
  
  .footer-col form input{
    width: 70%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
  }
  
  .footer-col form i{
    font-size: 15px;
  }
  
  .footer-col .social-icons{
    margin-top: 20px;
  }
  
  .footer-col .social-icons i{
    padding: 10px;
    background-color: white;
    color: #00093c;
    border-radius: 50%;
    margin: 5px;
    &:hover{
      background-color: rgb(232, 232, 121);
    }
  }
  .connect-us {
    margin-top: 10px;
  }
  .team-name{
    margin-bottom: 5px;
    font-weight: 700;
    font-size:20px;
    color:bisque;
  
  }
  .members{
    font-size:17px;
    font-weight: 500;
    margin-bottom:7px;
    text-decoration: underline;
  
  }
  .footer-para{
    max-width: 250px;
  }