@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Guerrilla&display=swap');
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
  }
  
  nav a {
    margin-left: 10px; /* Add some space between links */
  }

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  --primary: #fff;
  --secondary: #179fd9;
  --green: white;
  --secondary-light: #179fd9;
  --secondary-light-2: lightblue;
  --white:#fff;
  --black: black;
  --shadow: 0px 2px 8px 0px var(--secondary-light);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Open Sans", sans-serif;
}
.background{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  /* margin-left: 20%; */
  
}
.wrapper{
  width: 450px;
  background-color: hwb(198 26% 8% / 0.738);
  border: 3px solid rgba(156, 32, 32, 0.2);
  backdrop-filter:blur(10px);
  box-shadow: 0 0 30px rgb(175, 117, 40);
  color: black;
  border-radius: 10px;
  padding: 40px 40px;
  margin-top: 80px;
}
.wrapper h1{
  font-size: 55px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.wrapper .input-box{
  width: 100%;
  height: 50px;
  background:transparent;
  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid black;
  border-radius: 30px;
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: black;
}
.input-box i{
position: absolute;
right: 20px;
top: 50%;
transform: translateY(-50%);
font-size: 20px;
}
.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input{
  accent-color: black;
  margin-right: 3px;
}
.remember-forgot a{
  color: black;
  text-decoration: none;
}
.remember-forgot a:hover{
  text-decoration: underline;
  color: green;
}
.wrapper .btn{
  width: 100%;
  height: 45px;
  background: #179fd9;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px navy;
  cursor:pointer;
  font-size: 16px;
  color:white ;
  font-weight: 600;
  &:hover{
    background-color: deepskyblue;
  }
}
.wrapper .register-link{
  font-size: 15px;
  text-align: center;
  margin-top: 20px 0 15px;
}
.register-link p a{
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.register-link p a:hover{
  text-decoration: underline;
}
.background::before{
  content: '';
  background-image:url("../login-image.webp");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  position: absolute;
  top: 0;
  left: 0%;
  bottom: 0;
  right: 0;
  opacity: 0.45;
  background-color:rgb(217, 209, 122);;
  mix-blend-mode:lighten ;
  background-size: cover;
}
h1{
  font-size: 100px;
  font-family: sans-serif;
  text-align: center;
  position: relative;
  color: black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  background-image:linear-gradient(to right,#179fd9,#044e6e);
  color: #fff;
  z-index: 10;
  width: 100%;
}

.nav-links a {
  color: #fff;
}


/* LOGO */
.logo {
  font-size: 35px;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #f7fae3;
  padding-left: 70px;
}



/* h1{ */
  /* color: rgb(232, 232, 115); */
  /* position: relative; */
  /* color:transparent; */
  /* background-image: radial-gradient(#553c9a, #ee4b2b); */
  /* color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size:2.50rem;
  font-weight:500; */
  /* text-shadow: 1px 1px 0px #000; */
  /* letter-spacing: 2px; */
  
/* } */
/* .logo { */
    /* background-image: linear-gradient(45deg, #f5b507, #dff803); */
/* } */
  


/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  /* background-image:linear-gradient(to right,#179fd9,#044e6e); */
  background-color: white;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}

.dropdown {
  background-image:linear-gradient(to right,#179fd9,#044e6e);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #179fd9;
}

.services:hover .dropdown {
  display: block;
}
input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-image:linear-gradient(to right,#179fd9,#044e6e);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-image:linear-gradient(to right,#179fd9,#044e6e);
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
    /* color: yellow; */
  }
  .rem{
    color: black;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-image:linear-gradient(to right,#179fd9,#044e6e);;
  }
}
.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 50px;
  color: var(--black);
  /* background-color: white;
  box-shadow: var(--shadow); */

  cursor: pointer;
  border: 1px solid var(--secondary);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url("../profileimg.png");
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: var(--white);
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: max-height 0.5s;
}

.profile-dropdown-list hr {
  border: 0.5px solid var(--green);
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}

footer{
  background: linear-gradient(to right, #0c041f,#044e6e);
  border-top-left-radius: 100px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer *{
  color: white;
}

.container{
  display: flex;
  justify-content: space-between;
  padding: 25px 7%;
}

.footer-col{
  width: 25%;
}

.footer-col h2{
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  color: #f7fae3;
  margin-bottom: 10px;
}

p.email{
  margin: 30px 0;
}

p.phone{
  font-size: 20px;
  font-weight: 400;
}

.footer-col .text-office{
  margin-bottom: 20px;
}
.underline{
  width: 70px;
  height: 3px;
  position: relative;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: hidden;
}

.underline span{
  width: 7px;
  height: 100%;
  position: absolute;
  left: 10px;
  background-color: rgb(63,63,63);
  border-radius: 3px;
  animation: moving 1.5s linear infinite;
}

@keyframes moving {
  0%{
      left: -20px;
  }
  100%{
      left: 100%;
  }
}
footer{
  bottom: 0;
  margin-top: 50px;
  z-index: 20;
}
.footer-col ul{
  list-style-type: none;
  padding-top: 10px;
}

.footer-col ul li{
  margin: 10px;
  
}
.footer-col ul li a:hover{
  
    color: rgb(238, 238, 74);
  
}

.footer-col form{
  margin-top: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  display: flex;
}

.footer-col form input{
  width: 70%;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.footer-col form i{
  font-size: 15px;
}

.footer-col .social-icons{
  margin-top: 20px;
}

.footer-col .social-icons i{
  padding: 10px;
  background-color: white;
  color: #00093c;
  border-radius: 50%;
  margin: 5px;
  &:hover{
    background-color: rgb(232, 232, 121);
  }
}
.connect-us {
  margin-top: 10px;
}
.team-name{
  margin-bottom: 5px;
  font-weight: 700;
  font-size:20px;
  color:bisque;

}
.members{
  font-size:17px;
  font-weight: 500;
  margin-bottom:7px;
  text-decoration: underline;

}
.footer-para{
  max-width: 250px;
}
/* .container{
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer-content{
  width: 33.3%;
}
h3{
  font-size: 18px;
  margin-bottom: 7px;
  text-align: center;
}
.footer-content p{
  width:190px;
  margin: auto;
  padding: 4px;
  text-align: center;
}
.footer-content ul{
  text-align: center;
}
.list{
  padding: 0;
}
.list li{
  width: auto;
  text-align: center;
  list-style-type:none;
  padding: 4px;
  position: relative;
}
.list li::before{
  content: '';
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #f18930;
  transition-duration: .5s;
}
.list li:hover::before{
  width: 70px;
}
.social-icons{
  text-align: center;
  padding: 0;
}
.social-icons li{
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social-icons i{
  color: white;
  font-size: 25px;
}
a{
  text-decoration: none;
}
a:hover{
  color: lightblue;
}
.social-icons i:hover{
  color: lightblue;
}
.bottom-bar{
  background: #383632;
  text-align: center;
  padding: 4px 0;
  margin-top: 50px;
}
.bottom-bar p{
  color: white;
  margin: 0;
  font-size: 16px;
  padding: 4px;
} */


#checked{
  display: inline;
  
}

section {
  padding: 5rcap;
  /* margin-top: 00px; */
  background-color: white;
  font-size: 20px;
  p{font-style: cursie;}

}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
  background: rgba(242, 242, 243, 0.704);
  animation: BorderMotion 4s ease 0s infinite forwards;
  z-index: -1;
  border-radius: 10px;
   /* height: 100%; */
  /* width: 100%;  */
  border: 3px solid rgba(0, 0, 0, 0.363);
  box-shadow: 0 0 30px rgb(52, 44, 33);
  margin-top: 30px;
  padding-top: 70px;
}
.wrapper:hover::before{
  /* background-color: greenyellow; */
  /* color: black; */
  transform: skew(3deg, -3deg);
  border-radius: 5px;
  box-shadow: 0 0 15px 15px rgba(0, 255, 255, 0.226);
  transition: 0.8s;
}



@keyframes BorderMotion {
  0% {transform: skew(7deg, -7deg);border-radius: 5px;}
  25% {transform: skew(0deg, 0deg);border-radius: 5px;}
  50% {transform: skew(-7deg, 7deg);border-radius: 5px;}
  75% {transform: skew(0deg, 0deg);border-radius: 5px;}
  100% {transform: skew(7deg, -7deg);border-radius: 5px;}
}



@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}




:root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgb(255, 255, 255);
    --c2: rgba(255, 255, 255, 0.1);
}



/* .box:nth-child(2) {
    border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
    animation: borderRadial var(--d) linear infinite forwards;
}
 */
@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}

@keyframes borderRadial {
    20% {
        --gradX: 100%;
        --gradY: 50%;
    }
    40% {
        --gradX: 100%;
        --gradY: 100%;
    }
    60% {
        --gradX: 50%;
        --gradY: 100%;
    }
    80% {
        --gradX: 0%;
        --gradY: 50%;
    }
    100% {
        --gradX: 50%;
        --gradY: 0%;
    }
}



